<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" />
</form>






<!-- <link rel="stylesheet"
href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<form action="" method="post" class="form-horizontal">
    <legend>Post Form</legend>
    {% csrf_token %}


    <div class="form-group">
      <label for="id_user">User:</label>
      <div class="col-sm-10">
        <select id="id_user" name="user" >
          <option value="" selected="selected">---------</option>
          <option value="1">sjw0484</option>
        </select>
      </div>
    </div>

          <div class="form-group">
              <label for="id_title">제목:</label>
              <div class="col-sm-10">
                <input id="id_title" maxlength="100" name="title" type="text" class='form-control' />
              </div>
          </div>

          <div class="form-group">
              <label for="id_content">내용:</label>
              <div class="col-sm-10">
                <textarea cols="40" id="id_content" name="content" rows="10" ></textarea>
              </div>
          </div>

          <div class="form-group">
              <label for="id_photo">Photo:</label>
              <div class="col-sm-10">
                <input id="id_photo" name="photo" type="file" />
              </div>
          </div>

          <div class="form-group">
              <label for="id_tags">Tags:</label>
              <div class="col-sm-10">
                <input id="id_tags" maxlength="100" name="tags" type="text" />
              </div>
          </div>

<input type="submit" class="btn btn-primary"/>

<script>
$(function() {
    $('.form-group label').addClass('col-sm-2');
});

var dom = document.getElementById('{{ form.user_agent.id_for_label }}');
dom.value = navigator.userAgent;
</script> -->
